{{> head }}
{{> navbar }}

<div class="row">
    
    <div class="col-8">
        <h1>Ke Verga</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad fugiat aliquid laborum pariatur tempore quibusdam iusto suscipit dolores distinctio tenetur quidem nihil doloribus voluptas odit, ratione id voluptatem a debitis?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/ke-verga.jpg" alt="" class="img-thumbnail">
    </div>

</div>

{{> footer }}